.mainWindow {
  background-color: #DC0A2D;
  border-radius: 10px;
  overflow: auto;
}
.pokedexSearchBar{
  background-color: #DC0A2D;
  display: flex;
  justify-content: center;
}
.pokemonSearchName{
  border-radius: 30px;
}
.about-iwh{
  background-color: #DC0A2D;
  /* display: flex; */
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-evenly;
}
.mainAppName{
  color: white;
  display: flex;
  justify-content: center;
}
.defaultPokemonInformation{
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.pokemon-image{
  border: 5px solid white;
}
.dexViewMain{
  /* border: 5px solid black; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-around;
}
.pokemon-name{
  text-align: center;
  color: white;
}
.dexInfoContent{
  color: white;
}